@import "../../styles/styles.scss";

.contentvideo {
  width: 100%;
  @media (max-width: $large-devices-breakpoint) {
    display: flex;
  }
  @media (max-width: $medium-devices-breakpoint) {
    display: inline;
  }
  min-height: 100%;
  justify-content: space-between;

  &-text-container {
    display: flex;
    @media (max-width: $large-devices-breakpoint) {
      flex-direction: column;
      position: relative;
      top: -160px;
    }
    @media (max-width: $medium-devices-breakpoint) {
      flex-direction: unset;
      background-color: $color-secondary-dark;
      top: 0px;
    }
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-title {
    @media (max-width: $large-devices-breakpoint) {
      font-size: 40px;
      line-height: 44px;
    }
    @media (max-width: $medium-devices-breakpoint) {
      color: white;
      font-size: 20px;
      line-height: 22px;
    }
  }

  &-text {
    text-align: center;
    @media (max-width: $large-devices-breakpoint) {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: $color-secondary-dark;
    }
    @media (max-width: $medium-devices-breakpoint) {
      font-size: 0px;
    }
  }
  &-video {
    width: 100%;
    overflow: hidden;
    margin-right: 2.5%;
  }
  &-size {
    overflow: hidden;
    width: 100%;
    @media (max-width: $large-devices-breakpoint) {
      height: 600px;
    }
    @media (max-width: $medium-devices-breakpoint) {
      height: 210px;
    }
  }
}
